@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&display=swap");
.btn {
  background-color: #FA5652;
  color: #fff;
  font-size: 18px;
  padding: 15px 40px;
  outline: none;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  -webkit-transition: background-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out;
}

.btn:hover {
  background-color: #e6423e;
}

.btn-outlined {
  background-color: transparent;
  border: 2px solid #FA5652;
  color: #FA5652;
  font-size: 16px;
  padding: 8px 32px;
  -webkit-transition: background-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out;
}

.btn-outlined:hover {
  background-color: #e4b4b2;
}

.btn-pink {
  background-color: #e4b4b2;
  color: #FA5652;
  -webkit-transition: color 500ms ease-in-out;
  transition: color 500ms ease-in-out;
}

.btn-pink:hover {
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #4B4F51;
  text-decoration: none;
}

body {
  background: #e7dddd;
  font-family: "Red Hat Display", sans-serif;
  color: #4B4F51;
  font-size: 1rem;
  line-height: 1.5rem;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
}

header {
  padding: 20px 0;
}

header .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-inner .header-right .header-right-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 66px;
}

header .header-inner .header-right .header-right-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-inner .header-right .header-right-menu ul li {
  list-style: none;
  padding: 0 15px;
  position: relative;
}

header .header-inner .header-right .header-right-menu ul li:hover::before {
  content: '•';
  position: absolute;
  top: 20px;
  left: 49%;
  color: #FA5652;
}

header .header-inner .header-right .header-right-menu ul li a {
  color: #035755;
  font-weight: 500;
}

header .header-inner .header-right .header-right-menu .header-right-btn {
  padding-left: 40px;
}

.logo {
  position: relative;
}

.logo a::after {
  content: 'Covid - 19';
  position: absolute;
  top: 28%;
  left: 120%;
  width: 90px;
  font-weight: 700;
  text-transform: uppercase;
}

.burger-menu {
  display: none;
}

.burger-menu #burger {
  position: fixed;
  right: 0;
  top: 0;
  color: #fff;
  background: linear-gradient(45deg, #9682C8 10%, #FA5652);
  font-size: 32px;
  padding: 16px 16px 32px 32px;
  border-radius: 0% 0% 0% 100%;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.burger-menu #quit {
  position: fixed;
  top: 0;
  color: #fff;
  font-size: 32px;
  padding: 16px;
  display: none;
  cursor: pointer;
}

.burger-menu #links {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100vw;
  height: 25vh;
  padding: 25vh 0;
}

.burger-menu #links a {
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 3px;
  font-family: "Red Hat Display", sans-serif;
  text-transform: uppercase;
  z-index: 10;
  position: relative;
}

.burger-menu #links a:focus, .burger-menu #links a:hover {
  color: #e4b4b2;
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}

.post .post-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 600px;
  width: 100%;
}

.post .post-right .post-img img {
  max-width: 640px;
}

.post .post-right .post-img .what-is-img {
  max-width: 500px;
}

.post-left.padding-left {
  padding: 0 40px 0 80px;
  max-width: 500px;
}

.post-upper-title p {
  font-size: 20px;
  color: #FA5652;
  font-weight: 800;
  padding-bottom: 15px;
}

.post-title h2 {
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 1px;
  padding-bottom: 30px;
  color: #035755;
}

.post-title-light {
  position: relative;
}

.post-title-light h2 {
  font-weight: 500;
  text-transform: capitalize;
}

.post-title-light h2.before-number::before {
  content: '';
  position: absolute;
  top: 4px;
  left: -69px;
  width: 50px;
  height: 50px;
  background: #e4b4b2;
  border-radius: 50%;
  text-align: center;
  font-size: 36px;
  line-height: 52px;
}

.post-title-light h2.first::before {
  content: '1';
}

.post-title-light h2.second::before {
  content: '2';
}

.post-title-light h2.third::before {
  content: '3';
}

.post-description p {
  font-size: 16px;
  color: #4B4F51;
  line-height: 32px;
  padding-bottom: 25px;
}

.post-bg-virus {
  background-image: url(../images/bg-virus.png);
  background-repeat: no-repeat;
  background-position: right;
}

.block-text {
  padding-bottom: 40px;
}

.short-description {
  max-width: 600px;
  text-align: center;
}

.card-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
  background-image: url(../images/bg-virus-2.png);
  background-repeat: no-repeat;
  background-position: 10px 53px;
}

.card-block .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-block .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 29%;
  padding: 40px 10px;
  border-radius: 5px;
  background: #f5eded;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  position: relative;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

.card-block .cards .card:hover {
  opacity: .8;
}

.card-block .cards .card:hover::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #FA5652;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card-block .cards .card .card-img {
  padding-bottom: 40px;
}

.card-block .cards .card .card-title {
  padding-bottom: 20px;
}

.card-block .cards .card .card-title h3 {
  color: #035755;
  text-transform: uppercase;
}

.card-block .cards .card .card-description {
  color: #4B4F51;
}

.symptomps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
  background-image: url(../images/decor.png);
  background-repeat: no-repeat;
  background-position: 34px 90px;
}

.symptomps .symptomps-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.symptomps .symptomps-pic img {
  max-width: 900px;
}

.what-should-we-do {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0 80px;
  background-image: url(../images/bg-virus-3.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 140px;
}

.question .question-title {
  padding-bottom: 40px;
}

.question .question-title h5 {
  font-size: 32px;
  color: #035755;
  font-weight: 500;
  line-height: 40px;
  font-weight: 500;
  text-align: center;
}

.question .question-input {
  position: relative;
}

.question .question-input input {
  outline: none;
  padding: 30px;
  border: navajowhite;
  border-radius: 40px;
  width: 460px;
  color: #4B4F51;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.question .question-input button {
  position: absolute;
  top: 17%;
  right: 13px;
}

.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-inner .footer-top {
  margin-right: 90px;
}

.footer-inner .footer-right-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
}

.footer-inner .footer-right-menu ul li {
  list-style: none;
  padding: 10px 15px;
  font-size: 14px;
  color: #035755;
  position: relative;
}

.footer-inner .footer-right-menu ul li:hover::before {
  content: '•';
  position: absolute;
  top: 25px;
  left: 49%;
  color: #FA5652;
}

.footer-inner .footer-bottom {
  padding-bottom: 30px;
}

.footer-inner .footer-bottom p {
  font-size: 14px;
  color: #444444;
}

@media (max-width: 880px) {
  .header-right {
    display: none;
  }
  .burger-menu {
    display: block;
  }
}
