@media (max-width: 1260px) {
    .post .post-right .post-img img {
        max-width: 440px;
    }
}

@media (max-width: 1140px) {
    .post {
        flex-direction: column;
        align-items: center;

        &.column-reverse {
            flex-direction: column-reverse;
        }
        
        .post-left {
            padding-bottom: 30px;
        }
    }
}

@media (max-width: 880px) {
    .header-right {
        display: none;
    }

    .burger-menu {
        display: block;
    }
}